In [5]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
file_path = "Metro_median_sale_price_uc_sfr_sm_month.csv"

# Read the CSV file with 'utf-8' encoding and handle errors with 'latin-1'
Sale_price_zillow_df = pd.read_csv(file_path)

In [9]:
Sale_price_zillow_df

,RegionID,SizeRank,RegionName,RegionType,StateName,1/31/2018,2/28/2018,3/31/2018,4/30/2018,5/31/2018,...,9/30/2022,10/31/2022,11/30/2022,12/31/2022,1/31/2023,2/28/2023,3/31/2023,4/30/2023,5/31/2023,6/30/2023
0,102001,0,United States,country,NaN,225833.0,225833.0,228450.0,232617.0,237617.0,...,350000.0,344333.0,337667.0,331000.0,325667.0,326333.0,333000.0,342333.0,353333.0,362667
1,394913,1,"New York, NY",msa,NY,398300.0,395000.0,396333.0,400000.0,408333.0,...,591667.0,576000.0,559333.0,550650.0,546317.0,542983.0,543000.0,553000.0,572667.0,593000
2,753899,2,"Los Angeles, CA",msa,CA,635833.0,642500.0,652500.0,666667.0,678333.0,...,888000.0,876667.0,865833.0,854167.0,844167.0,841333.0,849667.0,861333.0,878000.0,894667
3,394463,3,"Chicago, IL",msa,IL,226333.0,226667.0,230667.0,239333.0,247333.0,...,300000.0,290833.0,284167.0,279167.0,276000.0,275817.0,283483.0,294150.0,307333.0,319000
4,394514,4,"Dallas, TX",msa,TX,242250.0,244583.0,248750.0,256667.0,263333.0,...,401500.0,393583.0,385917.0,376750.0,367333.0,366667.0,370000.0,380000.0,388333.0,400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
593,394869,869,"Moberly, MO",msa,MO,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,114117.0,123183.0,133267.0,143233.0,158750
594,395004,872,"Prineville, OR",msa,OR,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,442833.0,429983.0,435817.0,426817
595,394418,880,"Brookings, OR",msa,OR,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,418333.0,442000
596,394564,884,"Elk City, OK",msa,OK,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,152950
597,786257,914,"Fairmont, MN",msa,MN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,105150.0,108650.0,124333.0,142750.0,150917

In [10]:
file_path = "Metro_mlp_uc_sfr_sm_month.csv"

# Read the CSV file with 'utf-8' encoding and handle errors with 'latin-1'
list_price_zillow_df = pd.read_csv(file_path)

In [11]:
list_price_zillow_df

,RegionID,SizeRank,RegionName,RegionType,StateName,3/31/2018,4/30/2018,5/31/2018,6/30/2018,7/31/2018,...,10/31/2022,11/30/2022,12/31/2022,1/31/2023,2/28/2023,3/31/2023,4/30/2023,5/31/2023,6/30/2023,7/31/2023
0,102001,0,United States,country,NaN,262433.0,270467.0,277133.0,280500.0,280800.0,...,385967.0,381000.0,374967.0,370633.0,370633.0,374000.0,381667.0,389667,396167,399167
1,394913,1,"New York, NY",msa,NY,492633.0,499333.0,507966.0,516633.0,522967.0,...,603300.0,608300.0,614633.0,617633.0,624333.0,634633.0,644967.0,658300,666667,676600
2,753899,2,"Los Angeles, CA",msa,CA,778333.0,791667.0,799667.0,806300.0,805967.0,...,925633.0,915667.0,905859.0,899859.0,913159.0,929966.0,961633.0,981333,1014667,1058000
3,394463,3,"Chicago, IL",msa,IL,295800.0,309133.0,317600.0,321567.0,319933.0,...,316300.0,309667.0,303233.0,299867.0,303200.0,309967.0,320000.0,329967,337967,344300
4,394514,4,"Dallas, TX",msa,TX,325253.0,330319.0,333613.0,333632.0,330298.0,...,424667.0,417998.0,409632.0,402965.0,399597.0,404630.0,416630.0,432667,444300,448967
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
921,753929,935,"Zapata, TX",msa,TX,NaN,NaN,NaN,NaN,NaN,...,149250.0,153150.0,154983.0,153567.0,148000.0,146833.0,147467.0,149633,147383,147250
922,394743,936,"Ketchikan, AK",msa,AK,324500.0,327833.0,333000.0,344500.0,358167.0,...,456167.0,447500.0,452833.0,452000.0,440667.0,438500.0,448333.0,462667,459167,444000
923,753874,937,"Craig, CO",msa,CO,193817.0,196400.0,197050.0,197800.0,195933.0,...,368250.0,375733.0,373233.0,374933.0,371617.0,355817.0,337483.0,337167,356333,359633
924,395188,938,"Vernon, TX",msa,TX,NaN,NaN,NaN,NaN,NaN,...,137083.0,123750.0,109772.0,100522.0,95908.0,94241.0,100075.0,102772,104417,99417
925,394767,939,"Lamesa, TX",msa,TX,96800.0,103467.0,108450.0,114650.0,119567.0,...,174176.0,166917.0,158167.0,156167.0,154500.0,161000.0,159667.0,173333,178333,180667